<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GDSC Kayseri - Online Kotlin Compiler</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
    </head>
    <body>
        <pre id="output"></pre>
        <div class="container">
            <h3 id="apiVersion">API Version:</h3>
            <h3 id="stdlibVersion">STDLIB Version:</h3>
        </div>

        <textarea
            name="ktcode"
            id="ktcode"
            cols="30"
            rows="10"
            placeholder="enter code..."
        >
fun main() {
    println("Hello, World!")
}</textarea>
        <br>
        <button id="run" onclick="runCode()">Run</button>
        <pre id="output"></pre>
        <script
            src="https://code.jquery.com/jquery-3.7.1.slim.js"
            integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc="
            crossorigin="anonymous"
        ></script>
        <script src="/js/script.js" defer></script>
    </body>
</html>
